# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Translations
*.mo
*.pot

# virtualenv
bin/
share/
lib/
include/

# pip
pip-selfcheck.json

# vim
*.swp

# mypy
.mypy_cache

# config submodule
lime/config/
